##* ESSENTIAL ###

[user]
	name = Konstantin Kolesnyak
	email = constkolesnyak@gmail.com

[init]
	defaultBranch = main

[core]
	editor = code --wait
	autocrlf = input
    pager = delta

##* INFO ###

[log]
    date = format:%d %b %Y - %H:%M
    abbrevCommit = 7

[pager]
	log = bat --style=plain

[format]
	pretty = %C(magenta)%h%Creset %C(auto)%d%Creset%n%C(yellow)%an%Creset %C(yellow)<%ae>%Creset%n%C(blue)%ad%Creset%n%n    %B

[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

##* COLOR ###

[color]
    ui = always
    branch = always
    diff = always
    interactive = always
    status = always
    grep = always
    decorate = always
    showbranch = always

[color "status"]
	added = yellow
	changed = green
	untracked = red

##* MERGE & REBASE ###

[pull]
    rebase = false

[rebase]
	autosquash = true

[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
	keepBackup = false

##* DELTA ###

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    line-numbers = true
    side-by-side = false
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

##* LINES BELLOW ARE ADDED BY 'git config' COMMAND ###
